.cardfront {
  position: relative;
  width: 70vh;
  top: -31px;
  left: 10px;
  width: 300px;
}

@media (min-width: 768px) {
  .cardfront {
    position: relative;
    width: 70vh;
    top: -120px;
    left: 120px;
    width: 300px;
  }
}
