.section_mobile {
  background-image: url("../assets/bg-main-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  position: relative;
}

.section_larger {
  background-image: url("../assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 350px;
  position: relative;
  margin: 0;
}

/* .card {
  position: relative;
  width: 400px;
  border: 1px solid red;
  height: 400px;
} */
