.details {
  position: absolute;
  top: 220px;
  left: 220px;
}

.wrapper {
  position: relative;
  top: -107px;
  left: 108px;
}

.cvv {
  color: var(--light-grayish-violet);
  position: absolute;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .details {
    position: absolute;
    top: 250px;
    left: 220px;
  }
  .wrapper {
    position: relative;
    top: 120px;
    left: 210px;
  }
}
